@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Fuentes Roboto */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Estilos generales */
body {
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo solo para la primera sección con fondo */
header#home {
    margin: 0;
    padding: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 100vh;
    background-image: url("../images/mangles4k.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header#home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Navbar */
nav {
    width: 100%;
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: center; /* Centro el contenido en el medio */
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    position: fixed; 
    top: 0; 
    left: 0;
    box-sizing: content-box;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Espacio entre logo y enlaces */
    align-items: center;
    width: 100%;
    padding: 0;
    max-width: 1200px; /* Limita el ancho para centrar */
}

.logo {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links li a:hover {
    color: #1ee95e;
    transform: scale(1.1);
}

/* Estilos para el botón de menú en celulares */
#menu-toggle {
    display: none; /* Oculto por defecto */
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Oculta los enlaces inicialmente */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.show {
        display: flex; /* Muestra el menú desplegable cuando se active */
    }

    .nav-links li a {
        color: white;
        padding: 10px 0;
    }

    /* Muestra el botón de menú en pantallas pequeñas */
    #menu-toggle {
        display: block; /* Muestra el ícono del menú en móviles */
        margin-left: auto;
    }
}

/* Botón animado */
#boton-animado {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#boton-animado:hover {
    transform: scale(1.1);
}

.boton-activo {
    transform: scale(1.2);
    background-color: #256b99;
}

.boton-sesion {
    display: inline-block; 
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Estilos de las secciones */
.full-section {
    padding: 60px 15px;
    background-color:#357131;
    color:white;
}

.full-section-{
    padding: 60px 15px;
    background-color:#12262D ;
    color:white;
}

.subtitle-highlight, .main-title {
    color: #1A260E;
}

.bg-highlight {
    background-color: green;
    
}

.text-center p, .text-center h3, .main-title {
    color: white;
}

/* Tarjetas de programas */
* {
    margin: 0;
    padding: -1;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
.contenedor-programas {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap; /* Controla como se organizan los elementos cuando no caben en una sola linea */
}

.title-programas {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #000000;
}

.programas-card {
    
    width: 200%;
    max-width: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden; /* Nos permite controlar cuando el contenido de un elemento es mas grande que el contenedor, ya que tiene un tamaño limitado*/
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.programas-card:hover {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.programas-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.contenido-programas {
    padding: 15px;
    text-align: center;
}

.contenido-programas h3 {
    margin-bottom: 15px;
    color: #000000;
}

.contenido-programas p {
    line-height: 1.8;
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}

.contenido-programas a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.contenido-programas a:hover {
    background: #2fb4cc;
    color: #fff;
}

/* Responsividad de Tarjetas */
@media only screen and (max-width: 768px) {  /* Los @ se utilizan para dar instrucciones o establecer reglas especificas dentro de la hoja de estilos */
    .contenedor-programas {
        flex-direction: column;
        align-items: center;
    }
    
    .programas-card{
        width: 90%;
        max-width: none;
    }
}

/* Estilos del Footer */
.footer {
    backdrop-filter: blur(20px);
    margin-top: auto;
    width: 100%;
    padding: 70px 15px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color:#357131;  
    text-align: center;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.fila-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-title {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-list::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1ee95e;
    height: 2px;
    width: 50px;
}

.footer-list {
    list-style: none;
}

.footer-list li:not(:last-child){ /* El last child permite aplicar estilos sobre el ultimo elemento de la lista en el contenedor */
    margin-bottom: 10px;
}

.footer-list li a {
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-list li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.redes-sociales a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.redes-sociales a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-text{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    #nav-links {
        display: none;
        flex-direction: column;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.login{

    background-color: hsla(219.70588235294125, 58%, 15%, 1);
    background-image: radial-gradient(circle at 62% 78%, hsla(214.41176470588243, 88%, 31%, 0.85) 5.7405281285878305%, transparent 58.62803325806366%), radial-gradient(circle at 29% 67%, hsla(145.5882352941177, 60%, 43%, 0.89) 12.723102012377106%, transparent 68.25607464480481%), radial-gradient(circle at 88% 73%, hsla(288.52941176470586, 58%, 22%, 1) 10.939202957941662%, transparent 44.715421096328754%), radial-gradient(circle at 69% 34%, hsla(197.25855285132656, 98%, 30%, 0.96) 8%, transparent 43.552483542231%), radial-gradient(circle at 84% 20%, hsla(262.05882352941177, 67%, 22%, 0.29) 18.88675783993153%, transparent 88.64407965842258%), radial-gradient(circle at 37% 35%, hsla(132.21047976916427, 70%, 15%, 0.53) 7%, transparent 47.281256857882724%), radial-gradient(circle at 47% 12%, hsla(239.55882352941182, 69%, 11%, 1) 18.88675783993153%, transparent 88.64407965842258%);
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal;
    min-height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
}

.login form {
padding: 50px;
border-radius: 20px;
background-color: rgb(11, 103, 60);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: column;
gap: 30px;
color: white;
}

.login form h1 {
font-size: 60px;
}

.login form p {
font-size: 30px;
}

.login form label {
display: flex;
flex-direction: column;
gap: 10px;
}

.login form label span {
font-size: 20px;
font-weight: bold;
}

.login form label input, .login form select {
padding: 10px;
border-radius: 10px;
outline: none;
border: none;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login form button {
padding: 10px;
border-radius: 10px;
background-color:   rgb(100, 100, 255);
color: white;
font-size: 20px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease;
}

.login form button:hover {
background-color: rgb(9, 66, 147);
}

.login form a {
color: white;
}

